@import '../../styles/variables';

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 50%;

  &__button {
    padding: 18px 10px 18px;

    font-size: 16px;
    text-decoration: none;

    color: $accent-color;
    background-color: $bg-color;
    border: 1px solid $accent-color;

    transition: .2s all;

    cursor: pointer;

    &:hover {
      color: $bg-color;
      background-color: $accent-color;
    }
  }
}