@import "../../styles/variables";

.checkbox {
  position: absolute;

  width: 100%;
  height: 20px;
  margin-right: 0;

  opacity: 0;
  cursor: pointer;

  &:checked + label::before {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

.checkbox + label::before {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  
  border: 2px solid $secondary-color;
  background-color: $bg-color;
  
  content: "";
  cursor: pointer;
}
