@import './styles/variables';

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  height: 40px;

  &__link {
    text-decoration: none;
    color: $main-color;

    transition: .3s all;

    &:hover {
      color: $accent-color;
    }
  }
}