@import "../../styles/variables";

.form-input {
  &__radio {
    position: relative;

    display: flex;
    align-items: center;
    padding-left: 35px;

    cursor: pointer;
  
    input {
      position: absolute;

      height: 0;
      width: 0;
      
      opacity: 0;
      cursor: pointer;
    }
  
    &:hover input ~ .form-input__radio-checkmark {
      background-color: $secondary-color;
    }
  }
  
  &__radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;

    height: 20px;
    width: 20px;

    background-color: $bg-color;
    border: 2px solid $secondary-color;
    border-radius: 50%;
  }
  
  &__radio input:checked ~ .form-input__radio-checkmark {
    background-color: $accent-color;
    border-color: $accent-color;
  
    &:after {
      display: block;
    }
  }
}